{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>

        <!-- META TAGS -->
        {% include '../includes/meta.html'%}

        <!-- TITLE TAGS -->
        <title>{% block title %} {% enblock title %} WebChatApp</title>

        <!-- PRE CSS -->
        {% include '../includes/pre_css.html' %}

        <!-- MAIN CSS -->
        {% include '../includes/main_css.html' %}

        <!-- POST CSS -->
        {% include '../includes/post_css.html'%}

    </head>

    <body>
 
        <!-- HEADER -->
        {% include 'includes/header.html' %}
                
        <!-- MAIN BLOCK -->
        <div class="main">
            {% block content %} {%  endblock content%}
        </div>  

        <!-- FOOTER -->
        {% include 'includes/footer.html'%}

        <!-- PRE JS -->
        {% include '../includes/pre_js.html' %}

        <!-- MAIN JS -->
        {% include '../includes/main_js.html' %}

        <!-- POST JS -->
        {% include '../includes/post_js.html'%}
    
    </body>

</head>        